*{
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../img/Background.png");
}

.container{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.hidden {
    opacity: 0;
}

