body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mine{
    width: 78px;
    height: 78px;
    background: gray !important;
    border: 1px white solid;
}

.map{
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: gray;
}

.section,
.section0,
.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7,
.section8 {
    width: 78px;
    height: 78px;
    background-color: white;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.section0 {
    background: #aa6;
}
.section1 {
    background: blue;
}
.section2 {
    background: green;
}

.section3 {
    background: pink;
}

.section4 {
    background: yellow;
}

.section5 {
    background: brown;
}

.section6 {
    background: cyan;
}

.section7 {
    background: antiquewhite;
}

#mineCount{
    background-color: darkmagenta;
    white-space: pre;
    font-size: 32px;
}

#timer{
    background-color: darkmagenta;
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.rule {
    width: 100%;
}

.flag{
    background-color: lawngreen;
}